@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --primary-blue: #00adef;
  --primary-white: #ffffff;
  --primary-black: #000000;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Roboto Condesed" sans-serif;
}

/*---------- NAVBAR ----------*/
.navbar-brand-container {
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

/*---------- MENU LINKS ----------*/
nav a.nav-link {
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 00.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus, .navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-blue);

}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  /* height: 6rem; */
}

.first-brand-name {
  color: var(--primary-blue);
  text-transform: uppercase;
  margin-right: 0.5rem;
  font-weight: 900;
}

.second-brand-name {
  color: var(--primary-white);
  text-transform: uppercase;
  font-weight: 900;
}

.slogan {
  text-transform: uppercase;
  color: var(--primary-blue);
  font-size: 0.75rem;
  /* font-style: italic; */
}
